<% layout('layouts/boilerplate') %>
    <h1>Restaurants View</h1>
    <div>
        <a href="/restaurants/new"> Add a restaurant</a>
    </div>
    <ul>
        <% for(let resto of restaurants){%>
            <li>
                <a href="/restaurants/<%=resto._id%>">
                    <%= resto.title %>
                </a>
            </li>
            <%}%>
    </ul>