<% layout('layouts/boilerplate') %>
    <form action="/restaurants" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="restaurant[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="restaurant[location]">
        </div>
        <button>Add Campground</button>
    </form>
    <footer>
        <a href="/restaurants"> Main </a>
    </footer>