<% layout('layouts/boilerplate') %>
    <h1>Showing Resto: <%= restaurant.title%></h1>
    <img src="<%= restaurant.image %> " alt="">
    <p>
    <form action="/restaurants/<%=restaurant._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>

    </p>
    <footer>
        <a href="/restaurants/<%=restaurant._id%>/edit"> Edit </a>
        <a href="/restaurants"> Main </a>
    </footer>